@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&family=UnifrakturMaguntia&display=swap');

:root {
    font-family: "IM Fell English", "Times New Roman", Times, serif;
    font-size: 120%;
}

h1, h2 {
    font-family: "UnifrakturMaguntia", "Times New Roman", Times, serif;
}

.paragraph {
    margin-top: 1rem;
}

.tableblock {
    text-align: center;
}
