@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&family=UnifrakturMaguntia&display=swap');

.content :where(ul):not(:where([class~=not-prose], [class~=not-prose] *)) {
    margin-top: 0;
}

.content :where(ol):not(:where([class~=not-prose], [class~=not-prose] *)) {
    margin-top: 0;
}

:root {
    font-family: "IM Fell English", "Times New Roman", Times, serif;
    font-size: 120%;
}

h1,
h2 {
    font-family: "UnifrakturMaguntia", "Times New Roman", Times, serif;
}

h3 {}
